__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
.env.local
.env.*.local
.venv
venv/
env/
.idea
.vscode
*.egg-info
dist/
build/
tests/
README.md
.python-version
.gitignore
